body {
	margin: 0;
	font-family: Montserrat, Ubuntu, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-y: scroll;
}

.section1,
.section2 {
	background-color: #f0f0f0;
}
