.fullscreen {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	background-image: url('../images/31189.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
}

.backdrop {
	z-index: 3;
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	width: 100%;
	background: linear-gradient(
		0deg,
		rgba(50, 40, 230, 0.7763480392156863) 0%,
		rgba(0, 212, 255, 0) 100%
	);
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		from(rgba(74, 65, 243, 0.776)),
		to(rgba(0, 212, 255, 0))
	);
	background: -webkit-linear-gradient(
		bottom,
		rgba(78, 69, 246, 0.616),
		rgba(0, 212, 255, 0)
	);
	display: flex;
	justify-content: center;
	align-items: center;
}

.centerBox {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	max-width: 1000px;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1000px;
}

.subtext {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 2em;
	color: white;
	span {
		margin-left: 1em;
	}
}
