.about {
	background-color: #f0f0f0;
}

.aboutinner {
	display: flex;
	padding: 80px 30px 60px;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
@media only screen and (max-width: 600px) {
	.aboutinner {
		padding: 80px 10px;
	}
}

.aboutMe {
	box-sizing: border-box;
}
.aboutMe h2 {
	margin: 0 0 80px 0;
	font-family: 'Playfair Display, sans-serif';
	margin: 0;
	font-size: 70px;
	font-weight: 300;
	color: #073b7f;
}
.aboutMe *:hover * {
	stroke: #d8d8d8;
	fill: #d8d8d8;
	color: #d8d8d8;
}
@media only screen and (max-width: 1000px) {
	.aboutMe {
		margin: 0 auto;
	}
	.aboutMe h2 {
		margin: 0 auto;
		width: fit-content;
	}
}
@media only screen and (max-width: 600px) {
	.aboutMe h2 {
		font-size: 50px;
	}
}

.aboutItem {
	margin: 50px 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.iconContainer {
	width: 90px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.itemText {
	margin-left: 50px;
}
.itemText h3 {
	font-size: 30px;
	margin: 0 0 15px;
	font-weight: 300;
}
.itemText h4 {
	font-size: 20px;
	margin: 0;
	font-weight: 300;
}
@media only screen and (max-width: 500px) {
	.itemText {
		margin-left: 10px;
	}
	.itemText h3 {
		font-size: 25px;
		margin: 0 0 10px;
	}
	.itemText h4 {
		font-size: 20px;
	}
}

.school {
	width: 70px;
	height: auto;
}

.webber {
	width: 60px;
	height: auto;
}

.projects {
	width: 55px;
	height: auto;
}

.photoRight {
	width: 400px;
	height: 400px;
	border-radius: 100%;
	background-image: url(../images/face.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
@media only screen and (max-width: 1000px) {
	.photoRight {
		display: none;
	}
}
