* {
  box-sizing: border-box;
}

.bar_container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.innerBar {
  display: block;
  margin: 0 auto;
}

.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  -webkit-font-smoothing: antialiased;
  font-size: 22px;
}
@media screen and (max-width: 460px) {
  .navMenu {
    font-size: 15px;
  }
}
.navMenu span {
  color: #f6f6f6;
  text-decoration: none;
  height: 100%;
  border-bottom: 3px solid transparent;
  display: flex;
  align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0 50px;
  cursor: pointer;
}
.navMenu span:hover {
  border-bottom: 3px solid grey;
}
@media screen and (max-width: 630px) {
  .navMenu span {
    padding: 0 20px;
  }
}
@media screen and (max-width: 340px) {
  .navMenu span {
    padding: 0 10px;
  }
}
