.titleMain {
  position: relative;
}

.fullscreen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
}

.title {
  z-index: 1;
  position: absolute;
  background-image: url("../images/31189.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 120vh;
}

.backdrop {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(0deg, rgba(50, 40, 230, 0.7763480392) 0%, rgba(0, 212, 255, 0) 100%);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(74, 65, 243, 0.776)), to(rgba(0, 212, 255, 0)));
  background: -webkit-linear-gradient(bottom, rgba(78, 69, 246, 0.616), rgba(0, 212, 255, 0));
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerBox {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  max-width: 1000px;
}
@media screen and (max-width: 630px) {
  .centerBox {
    padding: 0 1em;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

.subtext {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2em;
  color: #d9d7fd;
  width: 100%;
}
@media screen and (max-width: 630px) {
  .subtext {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 460px) {
  .subtext {
    font-size: 1em;
  }
}
@media screen and (max-width: 340px) {
  .subtext {
    font-size: 0.8em;
  }
}

.flowupemail {
  margin-bottom: 3em;
  position: absolute;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5em;
}

.emailtext {
  text-align: center;
  color: #d9d7fd;
  font-size: 1.5rem;
  line-height: 14px;
}
@media screen and (max-width: 630px) {
  .emailtext {
    font-size: 1em;
  }
}
@media screen and (max-width: 460px) {
  .emailtext {
    font-size: 0.8em;
  }
}
